# Git & CI
.git
.github
.gitignore
*.md

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.venv
env/
venv/

# Node.js
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
frontend/dist

# OS/editor junk
.DS_Store
Thumbs.db
*.swp

# Docker
Dockerfile*
docker-compose.yml

# Infra/terraform (not needed inside containers)
infra/
