/* Import all Zhongkao component styles */
@import './Zhongkao/ZhongkaoBase.css';
@import './Zhongkao/NameInput.css';
@import './Zhongkao/Dropdown.css';
@import './Zhongkao/ScoreBoard.css';
@import './Zhongkao/ScoreInput.css';
@import './Zhongkao/Summary.css';
@import './Zhongkao/InfoBox.css';
@import './Zhongkao/ScoreGenChoicePage.css';